<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 ">
      <h2><p>投稿詳細</p></h2>
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th style="width:100px;">犬種</th>
            <th style="width:100px;">ユーザー</th>
            <th style="width:100px;">投稿日時</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <%= attachment_image_tag @dog, :image, size: "200x200" %>
            </td>
            <td nowrap >
            <%= @dog.name %>
            </td>
            <td>
              <%= @dog.user.name %>
            </td>
            <td>
            <%= @dog.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
            <div id="favorite-btn_<%= @dog.id %>" style="width:100px;">
              <%= render 'favorites/favorite' , dog: @dog %>
            </td>
            <td>
            <% if @dog.user == current_user %>
              <%= link_to "編集", edit_dog_path, class: "btn btn-success btn-question" %>
            </td>
            <td>
              <%= link_to "削除", dog_path(@dog), method: :delete, class: "btn btn-danger btn-question" %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr style="width:100px;">
            <th style="width:100px;">質問内容</th>
          </tr>
        </thead>
        <tbody>
            <td style="width:1%" class="qbox">
            <%= @dog.caption %>
            </td>
        </tbody>
      </table>
      </div>
      </div>
    </div>
    <div class="table-responsive">
      <div class="col-md-12">
        <%= form_with(model: [@dog, @dog_comment], format: :js, remote: true) do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, rows: '2', placeholder: " 回答を記入してください" , class:"textarea1" %>
          </div>
          <%= f.submit "投稿", class: "btn btn-success btn-question" %>
        <% end %>
        <div id="dog_comments">
          <%= render 'dog_comments/dog_comments', dog: @dog %>
        </div>
      </div>
    </div>
  </div>
</div>