        <table class="table table-light table-striped">
        <tbody>
          <tr>
            <th scope="row">京都</th>
            <td>ワン遊ランド</td>
            <td colspan="3"><%= link_to "ドッグラン周辺をみる", maps_kyoto_path %></td>
            <td>
            <td><%= link_to "公式サイトへ", "https://www.parkway-hankyu.com/facilities/?id=1287974752-497591" %></td>
          </tr>
          <tr>
            <th scope="row">大阪</th>
            <td>ドッグ・ウォーキング</td>
            <td colspan="3"><%= link_to "ドッグラン周辺をみる", maps_osaka_path %></td>
            <td>
            <td><%= link_to "公式サイトへ", "https://www.dog-walking.jp/" %></td>
          </tr>
          <tr>
            <th scope="row">兵庫</th>
            <td colspan="2">神戸フルーツプラワーパーク</td>
            <td colspan="3"><%= link_to "ドッグラン周辺をみる", maps_hyogo_path %></td>
            <td colspan="2"><%= link_to "公式サイトへ", "http://fruit-flowerpark.jp/f64ej4/" %></td>
          </tr>
          <tr>
            <th scope="row">奈良</th>
            <td colspan="2">銀木犀</td>
            <td colspan="3"><%= link_to "ドッグラン周辺をみる", maps_nara_path %></td>
            <td colspan="2"><%= link_to "公式サイトへ", "https://ginmokusei.jimdofree.com/%E3%83%89%E3%83%83%E3%82%AF%E3%83%A9%E3%83%B3/" %></td>
          </tr>
          <tr>
            <th scope="row">滋賀</th>
            <td colspan="2">ホリデーアフタヌーン</td>
            <td colspan="2"><%= link_to "ドッグラン周辺をみる", maps_shiga_path %></td>
            <td></td>
            <td colspan="3"><%= link_to "公式サイトへ", "http://www.biwa.ne.jp/~maikoinn/dog.html"%></td>
          </tr>
          <tr>
            <th scope="row">和歌山</th>
            <td colspan="2">ドッグラン・リン</td>
            <td colspan="3"><%= link_to "ドッグラン周辺をみる", maps_wakayama_path %></td>
            <td colspan="2"><%= link_to "公式サイトへ","https://wannyankai.com/aboutus/dogrunrin/" %></td>
          </tr>
        </tbody>
      </table>