<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>行きたい都道府県のドッグランをクリックすると公式サイトへ飛びます！</h2>
      <img src="../assets/kansai.png" usemap="#image-map">
        
        <map name="image-map">
            <area target="" alt="兵庫" title="兵庫" href="http://fruit-flowerpark.jp/f64ej4/" coords="213,340,129,305,62,318,32,278,56,216,99,169,91,130,73,107,65,84,80,77,108,67,136,66,163,68,168,92,180,93,208,103,186,134,186,154,200,171,220,183,238,183,248,200,231,196,282,205,279,222,284,242,298,264,299,279,299,299,296,321,292,327,248,322,236,328" shape="poly">
            <area target="" alt="京都" title="京都" href="https://www.parkway-hankyu.com/facilities/?id=1287974752-497591" coords="303,221,405,290,391,189,383,158,241,29,195,68,221,125,379,315,437,325,436,319,416,289,432,305,223,129,199,152,258,176,205,152" shape="poly">
            <area target="" alt="大阪" title="大阪" href="https://www.dog-walking.jp/" coords="227,446,352,411,360,297,328,271,333,271,344,284,305,325,311,269,296,249,318,256,341,278,339,279,342,281,344,284" shape="poly">
            <area target="" alt="和歌山" title="和歌山" href="https://wannyankai.com/aboutus/dogrunrin/" coords="304,648,405,667,441,608,407,567,349,556,346,417,232,450,233,496,269,585,229,563,225,494,277,592,287,606,301,630,307,649" shape="poly">
            <area target="" alt="奈良" title="奈良" href="https://ginmokusei.jimdofree.com/%E3%83%89%E3%83%83%E3%82%AF%E3%83%A9%E3%83%B3/" coords="403,549,455,492,477,404,463,367,432,333,386,329,364,325,355,360,355,417,367,460,357,491,354,526,356,542,364,552,386,557" shape="poly">
            <area target="" alt="滋賀" title="滋賀" href="http://www.biwa.ne.jp/~maikoinn/dog.html" coords="449,298,414,280,399,252,399,203,393,177,395,139,404,122,421,104,435,97,456,89,470,72,487,62,516,66,519,85,524,110,527,133,534,159,533,176,526,205,523,229,523,261,519,275" shape="poly">
        </map>
              <table class="table table-striped table-warning">
        <tbody>
          <tr>
            <th scope="row">京都</th>
            <td>ワン遊ランド</td>
            <td>
            <td><%= link_to "公式サイトへ", "https://www.parkway-hankyu.com/facilities/?id=1287974752-497591" %></td>
          </tr>
          <tr>
            <th scope="row">大阪</th>
            <td>ドッグ・ウォーキング</td>
            <td>
            <td><%= link_to "公式サイトへ", "https://www.dog-walking.jp/" %></td>
          </tr>
          <tr>
            <th scope="row">兵庫</th>
            <td colspan="2">神戸フルーツプラワーパーク</td>
            <td colspan="2"><%= link_to "公式サイトへ", "http://fruit-flowerpark.jp/f64ej4/" %></td>
          </tr>
          <tr>
            <th scope="row">奈良</th>
            <td colspan="2">銀木犀</td>
            <td colspan="2"><%= link_to "公式サイトへ", "https://ginmokusei.jimdofree.com/%E3%83%89%E3%83%83%E3%82%AF%E3%83%A9%E3%83%B3/" %></td>
          </tr>
          <tr>
            <th scope="row">滋賀</th>
            <td colspan="2">ホリデーアフタヌーン</td>
            <td colspan="2"><%= link_to "公式サイトへ", "http://www.biwa.ne.jp/~maikoinn/dog.html"%></td>
          </tr>
          <tr>
            <th scope="row">和歌山</th>
            <td colspan="2">ドッグラン・リン</td>
            <td colspan="2"><%= link_to "公式サイトへ","https://wannyankai.com/aboutus/dogrunrin/" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>