<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-2 ">
    <div class="table-responsive">
      <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th scope="col" colspan="5"><p>ユーザーネーム</p></th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <% @users.each do |user| %>
              <td nowrap><%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "80x80" %></td>
              <td nowrap><%= user.name %></td>
              <td><%= link_to "ユーザー詳細", user_path(user),class:"btn btn-info" %></td>
              <td><% unless current_user == user %>
                    <% if current_user.following?(user) %>
                      <%= link_to "フォローを解除する", user_relationships_path(user.id),class:"btn btn-primary", method: :delete %>
                    <% else %>
                      <%= link_to "フォローする", user_relationships_path(user.id),class:"btn btn-success", method: :post %>
                    <% end %>
                  <% end %>
              </td>
              <td nowrap>
              フォロワー数
              <%= link_to user_followers_path(user),class:"btn btn-outline-info" do %>
                <%= user.followers.count %>
              <% end %>
              </td>
              <td nowrap>
              フォロー数
               <%= link_to user_followings_path(user),class:"btn btn-outline-info" do %>
                  <%= user.followings.count %>
               <% end %>
               </td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
    </div>
  </div>
</div>

