<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2><p>登録者情報</p></h2>
        <table class="table">
          <thead>
          <th></th>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "80x80" %>
              </td>
              <td>
               <%= @user.name %>
              </td>
               <td>
              <%= link_to user_followers_path(@user),class:"btn btn-outline-info" do %>
                <%= @user.followers.count %> :フォロワー
              <% end %>
              </td>
              <td>
               <%= link_to user_followings_path(@user),class:"btn btn-outline-info" do %>
                  <%= @user.followings.count %>:フォロー
               <% end %>
               </td>
              <td>
              <% if @user.id == current_user.id %>
                <%= link_to "編集", edit_user_path(@user),class:"btn btn-outline-info" %>
              <% end %>
              </td>
              <td>
              <% if user_signed_in? && @user.id == current_user.id %>
                  <%= link_to "退会", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger"  %>
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
          <th>
            愛犬の紹介
          </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= @user.opinion %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

