<body class="home">
  <div id="container">
    <header>
      <!--スライドショー-->
      <aside id="mainimg">
        <%= image_tag asset_path("haikei.png", alt: ""),class:"slide0" %>
        <%= image_tag asset_path("1.jpg", alt: ""),class:"slide1" %>
        <%= image_tag asset_path("2.jpg", alt: ""),class:"slide2" %>
        <%= image_tag asset_path("3.jpg", alt: ""),class:"slide3" %>
      </aside>
    </header>
      <div id="contents">
        <div class="inner">
          <section>
            <h2>使い方<span>DogPair</span></h2>
            <div class="list-column-container">
            <div class="list-column">
            <div class="text">
              <h2>質問投稿機能</h2>
              <p>新規登録をすることで、質問投稿フォームから質問をすることができます。</p>
            </div>
            <%= link_to new_user_registration_path do %>
              <h4 class="menu-text1">新規登録済みでない方はここから</h4>
            <% end %>
            <%= link_to new_dog_path do %>
              <h4 class="menu-text1">ログイン済みの方はここから</h4>
            <% end %>
            </div>
            <div class="list-column">
            <div class="text">
              <h2>チャット<br>機能</h2>
              <p>新規登録した後に、ユーザー詳細から、ユーザー同士でリアルタイムチャットができます。</p>
            </div>
            <%= link_to new_user_registration_path do %>
              <h4 class="menu-text1">新規登録済みでない方はここから</h4>
            <% end %>
            <%= link_to users_path do %>
              <h4 class="menu-text1">ログイン済みの方はここからユーザー一覧へ</h4>
            <% end %>
            </div>
            <div class="list-column">
            <div class="text">
              <h2>いいね<br>機能</h2>
              <p>Q&Aコーナーにいくと、気に入った質問や回答に対して、いいねをつけることができます。</p>
            </div>
            <%= link_to new_user_registration_path do %>
              <h4 class="menu-text1">新規登録済みでない方はここから</h4>
            <% end %>
            <%= link_to dogs_path do %>
              <h4 class="menu-text1">ログイン済みの方はここから</h4>
            <% end %>
            </div>
        </div>
      </section>
  </div>
</body>

