<header >
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/">DogPair</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
　　　　<ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li nowrap>
              <%= link_to user_path(current_user.id) do %>
                <h4><i class="fas fa-home nav-link">マイページ</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <h4><i class="fas fa-users nav-link ">ユーザー一覧</i></h4>
              <% end %>
            </li>
             <li>
              <%= link_to maps_index_path do %>
                <h4><i class="fas fa-dog nav-link t">関西ドッグラン一覧</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to dogs_path do %>
                <h4><i class="fas fa-question nav-link t">Q&Aコーナー</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to new_dog_path do %>
                <h4><i class="fas fa-pen nav-link ">質問投稿フォーム</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete  do %>
                <h4><i class="fas fa-sign-out-alt nav-link t">ログアウト</i></h4>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to dogs_path do %>
                <h4><i class="fas fa-dog nav-link t">Q&Aコーナー</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to maps_index_path do %>
                <h4><i class="fas fa-dog nav-link t">関西ドッグラン一覧</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <h4><i class="fas fa-user-plus nav-link ">新規登録</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to user_session_path do %>
                <h4><i class="fas fa-sign-in-alt nav-link ">ログイン</i></h4>
              <% end %>
            </li>
            <li>
              <%= link_to  users_guest_sign_in_path, method: :post do %>
                <h4><i class="fas fa-sign-in-alt nav-link ">ゲストログイン</i></h4>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>